#hello{
    background-color: white;
    height: 300px;
    color: black;
    font-size: xx-large;
    text-align: center;
    border: 10px solid black;
    box-shadow: 15px 15px 5px rgba(128, 128, 128, 0.503);

}
.shadow {
    box-shadow: 5px 5px 2px rgba(97, 38, 169, 0.245);
    background-color: black;
}
.item {
    font-weight:bold;
    padding-left: 3%;
    color: black;

}

.sub-head{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0%;
}
#list{
    padding: 10px;
    float: left;
    margin-left: 5%;
    background-color: rgb(132, 15, 11);
    width: 60%;
    color: white;
    margin-right: 200px;
}
#pongGame{
    margin: 5%;
    float:left;
}
.Blurb{
    font-size: x-large;
    text-align: center;
    padding-top: 300px;
}
#androidDev{
    clear: left;
}
#androidView{
    margin: 5%;
    float: right;
}

#dropDownText{
    font-size: 40px;
    padding-left: 50px;
}

#hiddenDiv {
display: none;
font-size: large;
}

td{
    background-color: aliceblue;
}

hr { height: 5px; color: black; background-color: black; }

#dropDownText:hover #hiddenDiv{
    display: block;
    text-align: center;   
}

#myJavaScriptGame{
    background-repeat: no-repeat;
    
}

#shipId{
    margin-left: 13%;
    visibility: hidden;
}
#enemyId{
    margin-left: 13%;
    visibility: hidden;
}
#enemyBulletId{
    position: relative;
    padding-bottom: 15%;
    margin-left: 13%;
    visibility: hidden;
}
#myBullet
{   position: relative;
    margin-left: 13%;
    visibility: hidden;
}
#enemySub1{
    margin-left: 9.5%;
    visibility: hidden;
}
#enemySub2{
    margin-left: 3.5%;
    visibility: hidden;
}
#enemyBulletSub1{
    position: relative;
    margin-left: 10.7%;
    visibility: hidden;
}
#enemyBulletSub2{
    position: relative;
    margin-left: 6.2%;
    visibility: hidden;
}