#HeadNavBar{
    background-color: rgb(140, 25, 25);
    box-shadow: 15px 15px 5px rgba(128, 128, 128, 0.503);
    border: 10px solid black;    
}

#hello{
    background-color: white;
    /*height: 40px;*/
    color: black;
    text-align: center;
    border: 5px solid black;
    text-align: left;
    padding-bottom: 20px;   
    
}
#hello span{
    text-align: left;
    font-size: xx-large;
    margin-left: 5%;
    font-weight: bold;
    padding-bottom: 30px;
   
}
#NavLinks{
    display: flex;
}
#NavLinks span{
    color: rgb(238, 169, 41);
    font-size: xx-large;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
   
}
#NavLinks span a{
    text-decoration: none;
    color: rgb(238, 169, 41);
}

.shadow {
    box-shadow: 5px 5px 2px rgba(97, 38, 169, 0.245);
    background-color: black;
}
.item {
    font-weight:bold;
    padding-left: 3%;
    color: black;

}

.sub-head{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0%;
}
#list{
    padding: 10px;
    float: left;
    margin-left: 5%;
    background-color: rgb(132, 15, 11);
    width: 60%;
    color: white;
    margin-right: 200px;
}
#pongGame{
    margin: 5%;
    float:left;
    height: 500px;
}
.Blurb{
    font-size: x-large;
    text-align: center;
    margin: 5%;
}
#androidDev{
    clear: left;
    display: flex;
    flex-direction: row-reverse;
}
#androidView{
    margin: 5%;
}

#dropDownText{
    font-size: 40px;
    padding-left: 50px;
    height:300px
}

#hiddenDiv {
display: none;
font-size: large;
}

td{
    background-color: aliceblue;
}

hr { height: 5px; color: black; background-color: black; }

#dropDownText:hover #hiddenDiv{
    display: block;
    text-align: center;   
}
/*game*/
#myJavaScriptGame{
    background-repeat: no-repeat;
    
}
#note{
    margin-top: 20px;
    font-size: large;
}
#shipId{
    margin-left: 13%;
    visibility: hidden;
}
#enemyId{
    margin-left: 13%;
    visibility: hidden;
}
#enemyBulletId{
    position: relative;
    padding-bottom: 15%;
    margin-left: 13%;
    visibility: hidden;
}
#myBullet
{   position: relative;
    margin-left: 13%;
    visibility: hidden;
}
#enemySub1{
    margin-left: 9.5%;
    visibility: hidden;
}
#enemySub2{
    margin-left: 3.5%;
    visibility: hidden;
}
#enemyBulletSub1{
    position: relative;
    margin-left: 10.7%;
    visibility: hidden;
}
#enemyBulletSub2{
    position: relative;
    margin-left: 6.2%;
    visibility: hidden;
}
#daRules{
    margin-top: 20px;
    background-color: white;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid black;
}
#Footer{
    background-color: rgb(140, 25, 25);
    box-shadow: 15px 15px 5px rgba(128, 128, 128, 0.503);
    border: 10px solid black;  
}