#HeadNavBar{
    background-color: rgb(140, 25, 25);
    box-shadow: 15px 15px 5px rgba(128, 128, 128, 0.503);
    border: 10px solid black;    
}

#hello{
    background-color: white;
    /*height: 40px;*/
    color: black;
    text-align: center;
    border: 5px solid black;
    text-align: center;
    padding-bottom: 20px;   
    
}
#hello div{
    text-align: left;
    font-size: 6vw;
    margin-left: 5%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
   
}
#NavLinks{
    display: flex;
}
#NavLinks span{
    color: rgb(238, 169, 41);
    font-size: 4vw;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
   
}
#NavLinks span a{
    text-decoration: none;
    color: rgb(238, 169, 41);
}

#androidDev{
    clear: left;
}
#androidContainer{
    clear: both;
}
.Blurb{
    font-size: x-large;
    text-align: left;
    margin: 5%;
    overflow: visible;
    padding-top: 2.5%;
}
#Blurb2{
    padding-top: 5%;
    margin-left: 5%;
}
#androidDev h1{
    float:right;
    margin-right:5%;
}
#androidView{
    clear:right;
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
    
}

@media screen and (max-width: 1000px) {
    #NavLinks{
        display: flex;
        flex-direction: column;
    }
    #dropDownText{
        font-size: 40px;
        padding-left: 50px;
        height:300px;
        display:none;
    }
    #androidContainer{
        clear: both;
        display: flex;
        flex-direction: column;
    }
    #hello img{
        width: 20%;
        height: 20%;
    }
    #androidView{
        float: right;
        width: 100%;
        height: 100%
        
    }
    #pongContainer{
        display: flex;
        flex-direction: column;
    }
    .Blurb{
        clear: both;
    }
}

.shadow {
    box-shadow: 5px 5px 2px rgba(97, 38, 169, 0.245);
    background-color: black;
}
.item {
    font-weight:bold;
    padding-left: 3%;
    color: black;

}

.sub-head{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0%;
}
#list{
    padding: 10px;
    float: left;
    margin-left: 5%;
    background-color: rgb(132, 15, 11);
    width: 60%;
    color: white;
    margin-right: 200px;
}
#pongGame{
    margin: 5%;
    float:left;
    height: 30%;
}

#dropDownText{
    font-size: 40px;
    padding-left: 20px;
    height:300px;
    margin-right: 5%;
}

#hiddenDiv {
display: none;
font-size: large;
}

td{
    background-color: aliceblue;
}

hr { height: 5px; color: black; background-color: black; }

#dropDownText:hover #hiddenDiv{
    display: block;
    text-align: center;
    margin-right: 5%;
}
/*game*/
#myJavaScriptGame{
    background-repeat: no-repeat;
    border: 3px solid black;
}
#myJavaScriptGame img{
    
}
#note{
    margin-top: 20px;
    font-size: large;
}
#shipId{
    margin-left: 13%;
    visibility: hidden;
}
#enemyId{
    margin-left: 13%;
    visibility: hidden;
}
#enemyBulletId{
    position: relative;
    padding-bottom: 15%;
    margin-left: 13%;
    visibility: hidden;
}
#myBullet
{   position: relative;
    margin-left: 13%;
    visibility: hidden;
}
#enemySub1{
    margin-left: 9.5%;
    visibility: hidden;
}
#enemySub2{
    margin-left: 3.5%;
    visibility: hidden;
}
#enemyBulletSub1{
    position: relative;
    margin-left: 10.7%;
    visibility: hidden;
}
#enemyBulletSub2{
    position: relative;
    margin-left: 6.2%;
    visibility: hidden;
}
#daRules{
    margin-top: 20px;
    background-color: white;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid black;
}
#Footer{
    margin-top: 5%;
    background-color: rgb(140, 25, 25);
    box-shadow: 15px 15px 5px rgba(128, 128, 128, 0.503);
    border: 10px solid black;
    text-align: center;
}